<div class="container after-nav home">
	<div class="page-slider">
	  <header>
	    <label for="slide-1-trigger">Trade as a Seller</label>
	    <label for="slide-2-trigger">Trade as a Buyer</label>
	  </header>

	  <input id="slide-1-trigger" type="radio" name="slides" checked>
	  <section class="slide slide-one">
	    <h1>Selling</h1>

			<div class="columns">
				<div class="col-4">
					<div class="perk">
						<h3>
							— Accepted Coins<br>
							<span>
                <%= image_tag 'bitcoin.png' %>
                <%= image_tag 'monero.png' %>
							</span>
						</h3>

						<ol>
							<li> We support BTC & XMR.</li>
						</ol>
					</div>
				</div>

        <div class="col-4">
					<div class="perk">
						<h3>
							— Walletless Deposits
						</h3>

						<div class="image">
              <%= image_tag 'qr.gif' %>
						</div>

						<ol>
							<li> Accept a Trade Offer. </li>
							<li>Deposit exact coin amount into escrow address with QR code.</li>
							<li>
                The trade will be funded. Await for the delivery of your goods.
							</li>
							<li>
                Funds return to destination address that you set, if buyer
								doesn't pay and trade doesn't work out.
							</li>
						</ol>
					</div>
				</div>

				<div class="col-4">
					<div class="perk">
						<h3>— Authentic & Grey Market</h3>

						<div class="image">
              <%= image_tag 'authentic.gif' %>
						</div>

						<ul>
              <li>Trade for authentic and/or illegally obtained goods.</li>
              <li>
                Only want authentic? Set it so. Only want carded or illegal?
                Set it so. Both? Great.
              </li>
							<li>Set different pricing for authentic & grey market goods.</li>
						</ul>
					</div>
				</div>

				<div class="col-4">
					<div class="perk">
						<h3>— Escrow</h3>

						<div class="image">
              <%= image_tag  'escrow.png' %>
						</div>

						<ul>
							<li>
								Funds are held for an hour within the deposit address.
							</li>

							<li>
                You can extend expiry time by an hour at the press of a button,
								to grant the buyer extra time.
							</li>
						</ul>
					</div>
				</div>

				<div class="col-4">
					<div class="perk">
						<h3>— Encrypted Chat</h3>

						<div class="image">
              <%= image_tag  'lock.gif' %>
						</div>

						<ul>
							<li>
                Trade chatrooms are PGP encrypted end-to-end. Messages appear in
                cleartext, but are encrypted in our data banks.
							</li>
						</ul>
					</div>
				</div>


      <div class="col-4">
				<div class="perk">
					<h3>— Global Chat</h3>

					<div class="image">
            <%= image_tag  'search.gif' %>
					</div>

					<ul>
						<li>
              Looking to find trades quickly? Check the Global Chat for any
              buyers looking to make a swap.
						</li>
            <li>
              Send Trade Offers or accept incoming Trade Requests.
            </li>
					</ul>
				</div>
			</div>

				<div class="col-4">
					<div class="perk">
						<h3>— Trade Requirement</h3>

						<div class="image">
						</div>

						<ul>
							<li>
								After 25 successful trades a a seller, you may set a minimum
                number of required trades to buy with you.
							</li>
						</ul>
					</div>
				</div>

				<div class="col-4">
					<div class="perk">
						<h3>— Trust & Reviews</h3>

						<div class="image">
              <%= image_tag  'reviews.gif' %>
						</div>

						<ul>
							<li>
                After every trade, both traders are able to review one another,
                and mark them as trusted or not.
							</li>

							<li>
                This affects your trust score, which can go up or down after
                each completed trade.
							</li>
						</ul>
					</div>
				</div>

				<div class="col-4">
					<div class="perk">
						<h3>— Trade Disputes </h3>

						<div class="image">
              <%= image_tag  'gavel.gif' %>
						</div>

						<ul>
							<li>
								Got a bad gift card? Was it marked authentic but was grey
                market?
							</li>
							<li>
								Dispute your sales within 3 days of receipt. The case will be
                reviewed and the buyer banned, if you are in the right.
							</li>
						</ul>
					</div>
				</div>

			</div>



	  </section>

	  <input id="slide-2-trigger" type="radio" name="slides">
	  <section class="slide slide-two">
	    <h1>Buying</h1>

			<div class="columns">
        <div class="col-4">
					<div class="perk">
						<h3>
							— Accepted Coins<br>
							<span>
                <%= image_tag 'bitcoin.png' %>
                <%= image_tag 'monero.png' %>
							</span>
						</h3>

						<ol>
							<li> We support BTC & XMR.</li>
						</ol>
					</div>
				</div>


				<div class="col-4">
					<div class="perk">
						<h3>— Walletless Withdrawals</h3>

						<div class="image">
              <%= image_tag 'qr.gif' %>
						</div>

            <p>After your trade offer is accepted: </p>

						<ol>
							<li>Seller deposits coins.</li>
							<li>
								Set your destination coin address.
							</li>
							<li>
                Wait for seller to confirm receipt of your goods.
							</li>
							<li>
								Receive coins to your destination address along with transaction
                id for tracking.
							</li>
						</ol>
					</div>
				</div>

        <div class="col-4">
          <div class="perk">
            <h3>— Authentic & Grey Market</h3>

            <div class="image">
              <%= image_tag 'authentic.gif' %>
            </div>

            <ul>
              <li>
                Trade authentic and/or illegally obtained goods for crypto.
                Be honest and avoid a needless trade dispute.
              </li>
              <li>Did you buy the gift card from Walgreens with a receipt, all cash? Awesome.</li>
              <li>Did you buy a gift card code with a carded credit card? All good.</li>
            </ul>
          </div>
        </div>


        <div class="col-4">
          <div class="perk">
            <h3>— Trade Disputes </h3>

            <div class="image">
              <%= image_tag  'gavel.gif' %>
            </div>

            <ul>
              <li>
                Got a bad gift card? Was it marked authentic but was grey
                market?
              </li>
              <li>
                Dispute your sales within 3 days of receipt. The case will be
                reviewed and the buyer banned, if you are in the right.
              </li>
            </ul>
          </div>
        </div>


				<div class="col-4">
					<div class="perk">
						<h3>— Trust & Reviews</h3>

						<div class="image">
              <%= image_tag  'reviews.gif' %>
						</div>

						<ul>
							<li>
                After every trade, both traders are able to review one another,
                and mark them as trusted or not.
							</li>

							<li>
                This affects your trust score, which can go up or down after
                each completed trade.
							</li>
						</ul>
					</div>
				</div>

        <div class="col-4">
					<div class="perk">
						<h3>— Encrypted Chat</h3>

						<div class="image">
              <%= image_tag  'lock.gif' %>
						</div>

						<ul>
							<li>
                Trade chatrooms are PGP encrypted end-to-end. Messages appear in
                cleartext, but are encrypted in our data banks.
							</li>
						</ul>
					</div>
				</div>

        <div class="col-4">
					<div class="perk">
						<h3>— Global Chat</h3>

						<div class="image">
              <%= image_tag  'search.gif' %>
						</div>

						<ul>
							<li>
                Looking to find trades quickly? Check the Global Chat for any
                sellers of the specific coin yu're looking for.
							</li>
              <li>
                Send Trade Offers or accept incoming Trade Requests.
              </li>
						</ul>
					</div>
				</div>

			</div>
	  </section>
	</div>
</div>
